body{
    background-color: rgb(253, 251, 251);
} 
header{
    top: 0px;
    position: fixed;
    padding-right: 95%;
    padding-bottom: 5px;
    word-spacing: 10px;
    left: 0px;
    background-color: rgb(162, 213, 255);
    z-index: 1;
}

nav{
    position: fixed;
    top: 60px;

}

img, .minha_foto {
width: 200px;
position: absolute;
top: 75px;
left: -25px;

}
h2 {
    position: absolute;
    top: 275px;
    left: 25px;
}

ol, .licoes_aprendidas {
   position: absolute;
    top: 325px;
}

ul, .licoes_a_aprender {
    position: absolute;
    top: 320px;
    left: 175px;
}

article, .about_me {
    display: block;
    position: absolute;
    top: 530px;
}

section aside {
display: block;
position: absolute;
top: 625px;
margin-left: 75%;
}

footer, .rodape{
    top: 1000px;
    position:absolute;
    padding-right: 95%;
    padding-bottom: 50px;
    left: 0px;
    background-color: rgb(162, 213, 255);
    
}